<!DOCTYPE html>
<html>
<head>
<title>View Playlist</title>
</head>
<body>
<table border="1">
  <thead>
	<tr>
		<th> Name </th>
		<th>Songs</th>
		
	</tr>
  </thead>
  
  <tbody>
  	<tr th:each="playlist:${playlists}">
  		<td th:text="${playlist.name}"></td>
  		<td>
  		
  		   <ul>
  		    	<li th:each="song:${playlist.songs}">
  		    	    
  		    	 		 <audio controls>
                             <source th:src="${song.link}">
                		 </audio>
                		 </ul>
  		</td>
  		 
  		
  	</tr>
  </tbody>
</table>

</body>
</html>